.itemContainer{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.item{
    margin-left: 250px;
    margin-top:  50px ;
    display: flex;
}

.item_image{
    max-width: 200px;
    max-height:200px ;
   
}
.item_image img {
    border-radius: 10px;
    transition: all 500ms ease;
}

.item_image img:hover {

    scale: 150%;
    transition: all 500ms ease;

}
.details{
    padding: 10px;
   
}
.cartBtn{
    border: none;
    border-radius: 8px;
    background-color: crimson;
    padding: 10px;
}

.rpoductContainer{
    display: grid;
   grid-template-columns: auto 300px;
}

.cartContainer{
  
    display: grid;
    grid-template-rows:auto auto ;
    max-height: 100vh;
    height: 100vh;
}

.cartItemContainer{
    padding: 10px;
    background-color: blueviolet;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-top: 10px;
}
.cardescAndBtn{
    display: flex;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(229, 220, 59);
}

.itemDescription{
    text-transform: uppercase;
    padding: 10px;
   
}

.cartButons{
    padding: 10px;

    margin-left: 20px;
 
}
.quantityContainer{
    padding: 10px;

}
.increse{
    cursor: pointer;
    font-weight: bolder;

}
.decrese{
    cursor: pointer;
    font-weight: bolder;
}
.removeBtn{
    background-color: crimson;
    border-radius: 10px;
    max-width: 200px;
    margin: 10px auto;
    padding: 10px;
    cursor: pointer;
 
}

.itemSection{
    max-height: 900px;
    overflow: auto;
}

.checkoutbtn{
    cursor: pointer;
    background-color: rgb(230, 70, 30);
    padding: 10px;
    border-radius: 8px;
    margin: 10px auto;
    max-width: 200px;
    color: white;

}




.paymentForm{
    max-width: 600px;
    padding: 10px;
    margin: 10px auto;
}
.paymentForm h1{
    text-align: center;
    padding: 10px;
}

.expMonth{
    width: 50px;

    padding: 5px;
  
    border-radius: 8px;
    border: 1px thick lightblue;
}
.expYear{
    width: 100px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 8px;
    border:1px thick lightblue;
}
.expFields{

    display: flex;

}
.cvCode{
    width: 60px;
}
.paymentTable table{
    max-width: 600px;
    margin: 10px auto;
}
.paymentTable td{
    padding: 10px;
}
.paymentTable h3{
    text-align: center;
    color: gray;
}
.payBtn{
   
    max-width: 600px;
    margin: 10px auto;
    width: 150px;
    padding: 10px;
    margin-left: 190px;
    background-color: #222b56;
    border: 0px;
    border-radius: 5px;
    color: white;
}