.aboutComponent{
    background-color:rgb(217, 217, 217);
    height:550px;
    margin-top: 95px;
}

h1{
    color: rgb(122, 12, 12);
}
h6{
    text-align: start;
margin-left: 40px;
}
.about{
    background-color: rgb(219, 205, 205);
    width: 1250px;
    margin-left: 25px;
}
p{
    text-align: start;
    margin-left: 20px;
    font-size:14px;
    
}

.li{
    margin-left: 20px;
}