.contactComponent{
    background-color:rgb(217, 217, 217);
    height:98vh;
    display:flex;
}

.write{
    background-color: rgb(250, 250, 250);
    height: 450px;
    width:600px;
    border-radius: 20px;
   
    text-align: start;
    padding: 10px;
    padding-left: 100px;
    margin-left: 400px;
    margin-top: 50px;
    
}
img{
    height: 30px;
    width: 30px;
    margin: 0;
}
.address{
    display: flex;
    max-width: 500px;
    
}
.phone{
    display: flex;
    max-width: 500px;
    
}
.email{
    display: flex;
    max-width: 500px;
}
.contact{

    max-width: 550px;
    margin: 10px auto;
    border-radius: 20px;
    background-color: rgb(124, 17, 17);
    padding: 50px 70px;
    height: 400px;
    position: absolute;
    margin-left: 100px;
    margin-top: 70px;
}
.imgContainer{
    max-width: 200px;
    max-height: 100px;
    width: 20px;
    height: 20;
}

.submit{
    margin-left: 350px;
    margin-top: 70px;
    width: 130px;
    height: 40px;
    background-color: rgb(131, 10, 10);
    color: aliceblue;
}
.submit:hover{
    background-color: rgb(199, 78, 78);
}
input{
    background-color: rgb(208, 214, 219);
}
p{
    color: aliceblue;
}
