.background{
    background-color: rgb(217, 217, 217);
    height:550px;
    margin-top: 95px;
}
.homeComponent{
    background-color:rgb(216, 193, 193);
    width: 350px;
    height:350px;
    justify-content: center;
}

.btn{
    display: flex;
    margin: 10px;
}
img{
height: 550px;
width: auto;
margin-left: 420px;
}