.formContainer{
  
 background-color: rgb(188, 200, 200);
 border-radius: 8px;
 max-width: 600px;
 margin: 10px auto;
 padding: 10px;
}
.farmHeading{
    max-width: 1200px;
    margin: 40px auto;
}

.formTable{
    max-width: 600px;
    margin: 10px auto;
   
}
.formTable input {
    border :0px;
    border-radius: 5px;
}
.formTable td {
    text-align: start;
    padding: 10px;
    text-transform: uppercase ;
    font-weight: bold;
}
.submitbtn{

    background-color: rgb(49, 174, 93);
    border: 0;
    padding: 10px;
    width: 120px;
    margin-left:60px;
    border-radius: 8px;

}

.farmValuesTable{
 
    margin: 10px auto;
   
    
}
.farmValuesTable td {
  
   
    text-align: left;
    padding: 10px;
    text-transform: uppercase ;
    font-weight: bold;
    margin-left: 0px;
    


}
.stockContainer{
    max-width: 600px;
    margin: 10px auto;
    background-color: rgb(192, 199, 199);
    padding: 20px;
    border-radius: 8px;
}
.valuetd{
    width: 100px;
}
.variation{
    border: none;
    border-radius: 8px;
}

.verificationSubmit {
    background-color: rgb(41, 157, 161);
    border:none;
    width :500px;
    padding: 10px;
    border-radius: 8px;


}